params {
  // these are the default values for the parameters
  // if you specify them as arguments from the command line
  // these values will be ignored by nextflow
  output_dir = false
  threads = 48
  help = false
  source_dir = "${projectDir}/src"
  // input
  genome_fasta = false
  repeats_gff = false
  input_data = false
  paired_end = false
  single_end = false
  nanopore = false
  pacbio = false
  // trimming
  adapters="/gpfs/projects/bsc40/project/pipelines/genepred/test_data/TruSeq3-PE.fa"
  leading=25
  trailing=25
  minlen=35
  sliding_window="4:25"
  avgqual=20
  // hints filtering
  max_intron_size=500000
  // priority settings
  rep_priority="6"
  long_read_priority="5"
  bam_priority="4"
  psl_priority="3"
  // augustus path in MN4 is /apps/AUGUSTUS/SRC/Augustus-3.4.0/
  species_name = false
  utr="off"
  augustus_main_dir=""
  augustus_config_path = "/apps/AUGUSTUS/SRC/Augustus-3.4.0/config"
  augustus_scripts = "/apps/AUGUSTUS/SRC/Augustus-3.4.0/scripts"
  extrinsic = "${projectDir}/src/extrinsic.CUSTOM.cfg"
  gene_model = "complete"
  // prediction filtering
  rep_overlapping_feature = "exon"
  min_peptide_length = 10
  min_evidence = 1
}

env {
  TRIMMOMATIC="trimmomatic"
  HISAT2_BUILD="hisat2-build"
  HISAT2="hisat2-align-s"
  MINIMAP2="minimap2"
  SAMTOOLS="samtools"
  AUGUSTUS="augustus"
  BIOAWK="bioawk"
  AWK="awk"
  PERL="perl"
  PYTHON3="python3"
  BEDTOOLS="bedtools"
}
